body {background-color: aqua;}
h1   {font-family: verdana; color: black; text-align: center;}
h2   {font-family: verdana; color: black;}
p    {font-family: verdana; color: black;}
table {font-family: verdana; color: black; width: 30%;}
th {text-align: center; font-size:20px; color:red}
td {text-align: center}
</style>

